<section id="teaching">
  <!-- <p class="eyebrow">In the classroom</p> -->
  <h2>Teaching</h2>
  <ul class="plain">
    <li><b>Course Grader · Information Visualization</b> — UC Irvine
      <span>Quarters Taught: Spring 2025</span>
    </li>
    <li><b>Undergraduate Learning Assistant · Programming with Software Libraries</b> — UC Irvine
      <span>Quarters Taught: Winter 2023, Spring 2024, and Spring 2025</span>
    </li>
    <li><b>Undergraduate Learning Assistant · Programming with Software Libraries (Accelerated)</b> — UC Irvine
      <span>Quarters Taught: Fall 2023</span>
    </li>
  </ul>
</section>
